.titleDiv {
    max-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home {
    background-image: url('https://designteamplus.com/images/folio/thumbs/religious/St%20Mark-26.jpg');
}

.about {
    background-image: url('https://www.middleeasteye.net/sites/default/files/styles/article_page/public/images-story/copticsmasafp.jpg?itok=-fqHp4US');
}

#title {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
}


#titleText {
    color: white;
    font-size: 5vw;
    padding: 10vh 2vw;
    font-weight: 700;
}

.Heading {
    font-size: 4vh;
    font-weight: 500;
    margin: 2vh;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pageContainer {
    width: 100vw;
    /* padding: 20px; */
    /* margin: 20px; */
}

.content {
    width: 80vw;
    /* height: 1000px; */
    /* padding: 20px; */
    /* margin: 20px; */
}

.calendar {
    width: 80%;
    border: none;
    height: 655px;
}

.flexColumns {
    display: flex;
    justify-content: space-between;
}

.customImg {
    width: 30vw;
    height: fit-content;
}

.textP {
    font-size: 18pt;
    padding: 2vh;
}

.donations {
    width: 100%;
    justify-content: space-evenly;
}